{
   "name": "com.{{ company | lower }}.{{ project_name | lower }}.{{feature_name | lower }}.tests",
  "rootNamespace": "{{ project_name | capitalize}}",
  "references": [],
  "includePlatforms": [
    "Editor"
  ],
  "excludePlatforms": [],
  "allowUnsafeCode": false,
  "overrideReferences": false,
  "precompiledReferences": [
    "Moq.dll",
    "nunit.framework.dll"
  ],
  "autoReferenced": true,
  "defineConstraints": [
    "UNITY_INCLUDE_TESTS"
  ],
  "versionDefines": [],
  "noEngineReferences": false
}