{
  "name": "com.{{ company | lower }}.{{ project_name | lower }}.{{feature_name | lower }}.editor",
  "rootNamespace": "{{ project_name | capitalize}}",
  "references": [],
  "includePlatforms": [
    "Editor"
  ],
  "excludePlatforms": [],
  "allowUnsafeCode": false,
  "overrideReferences": false,
  "precompiledReferences": [],
  "autoReferenced": true,
  "defineConstraints": [],
  "versionDefines": [],
  "noEngineReferences": false
}