{
    "name": "com.{{ company | lower }}.{{ project_name | lower }}",
    "version": "0.0.1",
    "displayName": "{{ project_name }}",
    "description": "",
    "unity": "6000.3",
    "unityRelease": "10f1",
    "documentationUrl": "",
    "changelogUrl": "",
    "licensesUrl": "",
    "dependencies": {},
    "keywords": [],
    "author": {
        "name": "{{ author | capitalize }}",
        "email": "{{ email | lower }}",
        "url": ""
    }
}