{
    "name": "com.{{ company | lower }}.{{ project_name | lower }}.{{feature_name | lower }}.runtime",
    "rootNamespace": "{{ project_name | capitalize}}",
    "references": [
        {%- for reference in assembly_references %}
        "{{ reference | lower }}.asmdef"{{ "," if not loop.last else "" }}
        {%- endfor %}
    ],
    "includePlatforms": [],
    "excludePlatforms": [],
    "allowUnsafeCode": false,
    "overrideReferences": false,
    "precompiledReferences": [],
    "autoReferenced": true,
    "defineConstraints": [],
    "versionDefines": [],
    "noEngineReferences": false
}